/* Fonts */

@import 'fonts.css';

/* General styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}

.btn {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 55px;
    font-weight: lighter;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.aw-align-center {
    align-items: center;
}

/* Header */

header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    z-index: 999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav.aw-nav-fixed {
    margin: 0;
    background: rgba(0, 0, 0, .5);
}

header nav ul.aw-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul.aw-navigation li a {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

header nav ul.aw-navigation li:last-child a {
    padding-right: 0;
}

header nav ul.aw-navigation li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav ul.aw-navigation li a:hover:after {
    width: 100%;
    opacity: 1;
}

header nav .aw-nav-toggle {
    display: none;
}

.aw-main-banner {
    display: block;
    width: 100%;
}

.aw-logo-img {
   width: 300px; 
}

/* Sections */

.aw-section {
    padding: 85px 0 100px 0;    
}

/* Contact */

#aw-kontakt {
    display: flex;
    flex-direction: column;
    align-items: justify;
    margin: 0 auto;
}

#aw-kontakt h1 {
    margin-top: 110px;
    margin-bottom: 100px;
    border-bottom: 1px solid #666; 
}

#aw-kontakt h4 {
    margin-bottom: 50px;
    font-size: 25px;
}

#aw-kontakt h4:last-child {
    margin-bottom: 180px;
}

/* Products & Masine*/

#aw-proizvodi, #aw-masine {
    display: flex;
    flex-direction: column;
    align-items: justify;
    margin: 0 auto;
}

#aw-proizvodi img {
    margin-top: 100px;
    width: 593px;
    height: 120px;
}

#aw-masine h1:first-child {
    margin-top: 65px;
}

#aw-proizvodi h1, #aw-masine h1 {
    font-size: 40px;
    border-bottom: 1px solid #666;
}

#aw-proizvodi ul li, #aw-masine ul li {
    list-style-type: square;
    font-size: 20px;
}

#aw-proizvodi p, #aw-masine p {
    font-size: 20px;
}

#aw-masine img {
    max-width: 100%; 
}

/* Footer */

footer {
    padding: 10px 0;
    background-color: #444;
}

footer h4 {
    font-size: 20px;
    color: #fff;
}

footer .aw-logo-img-footer {
    width: 200px;
}

/* Responsive */

@media all and (max-width: 1020px) {

    .aw-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 820px) {
    
    header nav {
        position: absolute;
    }

    header nav.aw-nav-fixed {
        background: none;
    }

    ul.aw-navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        background: rgba(0,0,0,.7);
        -webkit-transition: max-height .4s ease;
        transition: max-height .4s ease;
    }

    ul.aw-navigation.aw-navigation-opened {
        max-height: 500px;
        -webkit-transition: max-height 1s ease;
        transition: max-height 1s ease;
    }

    ul.aw-navigation li {
        padding: 0 15px;
    }

    ul.aw-navigation li a {
        display: block;
        font-size: 20px;
        padding: 10px 0;
        color: #fff;
        border-bottom: solid 2px #999;
    }

    ul.aw-navigation li:first-child a {
        padding-top: 20px;
    }

    ul.aw-navigation li:last-child a {
        padding-bottom: 20px;
        border-bottom: none;
    }

    header nav .aw-nav-toggle {
        display: block;
        color: #fff;
        font-size: 40px;
    }

}

@media all and (max-width: 650px) {

    footer .aw-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
    }

}
























